<div class="hero-image">
  <div class="hero-text">
    <h1></h1>
    <p style="font-size: 30px;"><strong>ABOUT VIRTUAL SCHOOLS</strong></p>
  </div>
</div>
<br>
<div class="container">
  <h1><b>Our Mission</b></h1>
  <p>Virtual School's mission is to help people learn the skills they need to get great jobs. For us, “great jobs”<br>
    means
    jobs in growing industries that pay well and provide rewarding work. Beyond the particular skills<br> needed to get
    these jobs, we aim to help our students become confident self-teachers who can adapt<br> to changing job markets,
    and
    great communicators who will work well in teams. We focus on serving<br> people who, by birth or circumstance,
    don't
    have easy access to learning the skills they need to get<br> great jobs.</p>

  <br>
  <br>
  <h1><b>Our Story</b></h1>
  <p>Our scrum master, Ken Joel, founded Virtual Schools in 2020. After becoming frustrated with how difficult it<br>
    was
    for students to study especially during this pandemic He knew many students were struggling with their<br> studies
    time, he knew many students were struggling with studies. He realized that if there were a school<br> that taught
    practical software development skills, people could get great jobs and companies could hire <br>the staff they need.
  </p>
  <h1><b>Management Team</b></h1>
  <p>These are the member of staff that made Virtual Schools availabe to all the students during this pandemic</p>


  <div class="row">
    <div class="column">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1485988412941-77a35537dae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60  "
          alt=" Jane" style="width:100%">
        <div class="container">
          <h2>Ken Joel</h2>
          <p class="title">Scrum master; Founder</p>
          <p>Backend</p>
          <p>jrjoemuigai@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1548611635-b6e7827d7d4a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="Mike" style="width:100%">
        <div class="container">
          <h2>Ian Wilbert</h2>
          <p class="title">Developer</p>
          <p>Frontend.</p>
          <p>ianwilbuts@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1517430816045-df4b7de11d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="John" style="width:100%">
        <div class="container">
          <h2>Einstein Eliam</h2>
          <p class="title">Designer</p>
          <p>Backend.</p>
          <p>einsteineliam@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1479920252409-6e3d8e8d4866?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="John" style="width:100%">
        <div class="container">
          <h2>Lovine Oduor</h2>
          <p class="title">Developer</p>
          <p>Frontend</p>
          <p>oduor.lovine@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img
          src="https://images.unsplash.com/photo-1517430816045-df4b7de11d1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
          alt="John" style="width:100%">
        <div class="container">
          <h2>George Okumu</h2>
          <p class="title">Developer</p>
          <p>Backend.</p>
          <p>gokumu12@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
