<div class="container">
  <h1>Our Mission</h1>
  <p>Virtual School's mission is to help people learn the skills they need to get great jobs. For us, “great jobs” means
    jobs in growing industries that pay well and provide rewarding work. Beyond the particular skills needed to get
    these jobs, we aim to help our students become confident self-teachers who can adapt to changing job markets, and
    great communicators who will work well in teams. We focus on serving people who, by birth or circumstance, don't
    have easy access to learning the skills they need to get great jobs.</p>
  <br>
  <br>
  <h1>Our Story</h1>
  <p>Our scrum master, Ken Joel, founded Virtual Schools in 2020. After becoming frustrated with how difficult it was
    for students to study especially during this pandemic He knew many students were struggling with their studies
    time, he knew many students were struggling with studies. He realized that if there were a school that taught
    practical software development skills, people could get great jobs and companies could hire the staff they need.</p>
</div>
