.books{
    background-image: url(../../../assets/shelf.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: antiquewhite;
}
.form-control{
    width: 500px;
}
.card{
    background-color: rgb(173, 120, 223);
}
