.books{
    background-image: url(../../../assets/shelf.jpg),linear-gradient(rgba(74, 20, 136, 0.5), rgba(0, 0, 0, 0.5));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: antiquewhite;
}
.form-control{
    width: 500px;
}
.card-body{
    background-color: rgb(173, 120, 223);
    width: 35rem;
    border-radius: 0.5cm;
    text-align: center;
}
