<div class="container">
<form>
    <h1>CREATE YOUR SCHOOL</h1>

    <div  class="form-group">
        <label for="">School Name</label><br>
        <input type="text" name="school name" placeholder="School name">

    </div>
    <div  class="form-group">
        <label for="">Address</label><br>
        <input type="text" name="address" placeholder="Address">
    </div>
    <div  class="form-group" >
        <label for="">Email</label><br>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div  class="form-group" >
        <label for="">Website</label><br>
        <input type="text" name="website" placeholder="Website">
    </div>
    <div  class="form-group" >
        <label for="">Phone</label><br>
        <input type="text" name="phone" placeholder="Phone">
    </div>



    <button class="btn btn-outline-danger" type="submit">Create School</button>
</form>
</div>
