
form{
    background-image: url(/assets/school.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100vw;
    padding-top: 5px;
    padding-bottom: 50px;
    padding-left: 450px;

    color: white;
}
.form-control{
    width: 500px;

}
