.students{
    background-image: url(../../assets/books.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    text-align: center;
    color: antiquewhite;
    padding-top: 150px;
}
a{
    background-color: blueviolet;
    font-weight: 200;
    font-size: xx-large;

}
