<div class="hero-image">
  <div class="hero-text">
    <p style="font-size: 30px"><b>ONLINE SCHEDULE</b></p>
  </div>
  <div class="class">
    <h1>Classes Online</h1>
    <p>All of our classes are offered online as well as in-person! Much like our in-person classes, we emphasize
      collaboration and community in our online classes.

      We start each class with a video standup, and then students pair up and work together on projects. Classes
      communicate on Discord (a text and audio chat app), and pairs use Discord to talk with each other while they work.
      Teachers join each pair throughout the class to
      check in, give feedback, and troubleshoot.

      All of our policies, including tuition, are the same for our online and in-person classes, except when noted.
    </p>

    <h1>Part-Time Intro Schedule</h1>
    <p>VIrtual Schools offers a part-time version of its Introduction to online classes on Tuesdays and
      Thursdays

      from 5:30-8:30pm Pacific time for 9 weeks. After completing the course, you have the option to continue to our
      full-time program</p>


    <h1>Part-Time Study Schedule</h1>
    <p></p>

    <h1>Full-Time Study Schedule</h1>
    <p></p>
  </div>
