<div class="back">
    <div class="container col-md-4 col-md-offset-4" style="padding: 2%;">

        <form class="well form-horizontal" action=" " method="post"  id="contact_form">
        <fieldset>
    
            <!-- Form Name -->
            <legend class="headtext"><h2><b><i class="fa fa-pen"></i>&nbsp; Student Registration Form</b></h2></legend><br>
    
            <!-- Text input-->
    
            <div class="form-group">
                <label class="col-md-4 control-label"><i class="fa fa-address-card"></i> Full Name</label>  
    
                <div class="input-group">
                    <input  name="first_name" placeholder="Full Name" class="form-control"  type="text">
                </div>
            </div>
    
    
            <!-- Text input-->
            
            <div class="form-group">
                <label class="col-md-4 control-label"><i class="fa fa-envelope"></i> Email</label>  
    
                <div class="input-group">
                    <input  name="first_name" placeholder="Email" class="form-control"  type="text">
                </div>
            </div>
    
    
            <!-- Text input-->
            
            <div class="form-group">
                <label class="col-md-4 control-label"><i class="fa fa-book"></i> Course</label>  
    
                <div class="input-group">
                    <input  name="first_name" placeholder="Course" class="form-control"  type="text">
                </div>
            </div>
    
    
            <!-- Select Basic -->
    
            <!-- Success message
            <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div> -->
    
            <!-- Button -->
            <div class="form-group">
                <div class="col-12"><br>
                    <button type="submit" class="btn col-12 add-student-submit" >SUBMIT <i class="fa fa-paper-plane"></i><span class="glyphicon glyphicon-send"></span></button>
                </div>
            </div>
    
        </fieldset>
    </form>
    </div>
        <!-- </div>/.container -->
</div>