.container {
    animation-name: change-bg-color;
    animation-duration: 10s ;
    animation-iteration-count: infinite;
    padding-bottom: 10%;
    opacity: .8;
    border-radius: 15px;
}

@keyframes change-bg-color {
    0%{background-color: rgb(146, 44, 241);}
    25%{background-color: purple;}
    50%{background-color: rgb(116, 4, 116);}
    75%{background-color: rgb(196, 9, 196);}
    100%{background-color: rgb(149, 76, 223);}
}