<div class="back">
    <div class="container">
        <br>
        <hr>
        <div class="row">
            <div class="col-6">
                <div style="text-align: right; border-radius: 5px; background-image: linear-gradient(to right,rgb(29, 130, 245), rgb(149, 51, 230));">
                    <h1 style="color: white;">Virtual Schools Available :</h1>
                </div>
                <hr>
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action " id="list-home-list" data-toggle="list" href="#list-home"
                    role="tab" aria-controls="home" style="border-radius: 5px;">
                    School of Code
                    <span class="badge badge-primary badge-pill">4</span>
                    </a>
                    &nbsp;
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile"
                    role="tab" aria-controls="profile" style="border-radius: 5px;">
                    Business School
                    <span class="badge badge-primary badge-pill">2</span>
                    </a>
                    &nbsp;
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages"
                    role="tab" aria-controls="messages" style="border-radius: 5px;">
                    Science School
                    <span class="badge badge-primary badge-pill">1</span>
                    </a>
                    &nbsp;
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings"
                    role="tab" aria-controls="settings" style="border-radius: 5px;">
                    High School
                    <span class="badge badge-primary badge-pill">1</span>
                    </a>
                </div>
            </div>
            <div class="col-6">
                <div style="background-image: linear-gradient(to right, rgb(149, 51, 230) , rgb(29, 130, 245));">
                    <h1 style="color: white;">Programs Offered :</h1>
                </div>
                <hr>
              <div class="tab-content" id="nav-tabContent" style="color: white;">
                <div class="tab-pane fade show  bg-primary" id="list-home" role="tabpanel" aria-labelledby="list-home-list" style="border-radius: 5px;">
                    <ul>
                        &nbsp;
                        <li>
                            <a href="https://bookauthority.org/books/beginner-cryptography-books" style="color: white;">Cryptography Books</a>
                        </li>
                        &nbsp;
                        <li>
                            <a href="https://www.madewithangular.com/" style="color: white;">Angular Practice</a>
                        </li>
                        &nbsp;
                        <li>
                            <a href="https://www.w3resource.com/java-exercises/" style="color: white;">Java Practice</a>
                        </li>
                        &nbsp;
                        <li>
                            <a href="https://www.w3resource.com/html/HTML-tutorials.php" style="color: white;">Introduction to HTML</a>
                        </li>
                        &nbsp;
                    </ul>
                </div>
                <div class="tab-pane fade bg-primary" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list" style="border-radius: 5px;">
                    <ul>
                        &nbsp;
                        <li>
                            <a href="https://learn.saylor.org/course/BUS101" style="color: white;">Introduction to Business</a>
                        </li>
                        &nbsp;
                        <li>
                            <a href="https://www.b2binternational.com/publications/introducing-the-business-to-business-hierarchy-of-needs/" style="color: white;">Business Hierachy</a>
                        </li>
                        &nbsp;
                    </ul>
                </div>
                <div class="tab-pane fade bg-primary" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list" style="border-radius: 5px;">
                    <ul>
                        &nbsp;
                        <li>
                            <a href="https://www.britannica.com/science/taxonomy/A-classification-of-living-organisms" style="color: white;">Taxonomy (Biology)</a>
                        </li>
                        &nbsp;
                    </ul>
                </div>
                <div class="tab-pane fade bg-primary" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list"  style="border-radius: 5px;">
                    <ul>
                        &nbsp;
                        <li>
                            <a href="https://www.mathplanet.com/education/geometry" style="color: white;">Geometry</a>
                        </li>
                        &nbsp;
                    </ul>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
