<mat-toolbar color="primary">
  <span>
    <mat-icon>eco</mat-icon> Virtual Studies
  </span>



  <div class="space"></div>
  <a mat-button routerLink="/home">Home</a>
  <a mat-button routerLink="/aboutus">About Us</a>
  <a mat-button routerLink="/programs">Programs</a>
  <a mat-button routerLink="/students">Resources</a>
  
  <div class="dropdown">
    <a mat-button class="dropbtn">Enrollments <i class="fa fa-caret-down"></i></a>
    <div class="dropdown-content">
      <a mat-button routerLink="/newstudentform">Add Students</a>
      <a mat-button routerLink="/newteacherform">Add Teachers</a>
    </div>
  </div> 


  <a mat-button routerLink="/schools">View School </a>
  <a mat-button routerLink="/form">Schools</a>
  <a mat-raised-button color="accent" routerLink="/Sign Up">Sign Up</a>

</mat-toolbar>
